@import "tailwindcss";

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}